<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BootStrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- BootStrap CDN -->
     <link rel="stylesheet" href="css/styles.css">
    <title>COMP-6062 Final Practical Project</title>
  </head>
  <body>
    <div id="app" class="container">
    <header>
        <h1>Vaibhav Sinha - 1081237</h1>
    </header>
    <main>
        <section id="random-fact" class="my-4">
            <h2>Random Fact</h2>
            <p>{{ fact }}</p>
            <button class="btn btn-primary" @click="getNewFact">New Fact</button>
          </section>
          <section id="weather" class="my-4">
            <h2>Weather</h2>
            <div>
              <input type="text" v-model="city" placeholder="Enter city">
              <button class="btn btn-primary" @click="getWeather">Get Weather</button>
            </div>
            <p>Temperature: {{ weather.temperature }}</p>
            <p>Wind: {{ weather.wind }}</p>
            <p>Description: {{ weather.description }}</p>
          </section>
          <section id="dictionary" class="my-4">
            <h2>Dictionary</h2>
            <div>
              <input type="text" v-model="word" placeholder="Enter word">
              <button class="btn btn-primary" @click="getDefinition">Define</button>
            </div>
            <p>Word: {{ definition.word }}</p>
            <p>Phonetic: {{ definition.phonetic }}</p>
            <p>Part of Speech: {{ definition.partOfSpeech }}</p>
            <p>Definition: {{ definition.definition }}</p>
          </section>
        </div>
    </main>
    <footer>
        &copy; Vaibhav Sinha
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>